@model Book


<div class="mt-2 col-sm-4 col-la-4 col-md-4">
	<div class="thumbnail">
		<img src="@Model.CoverImageUrl" alt="image of bookcover" />

		<div class="caption">
			<h3><a asp-controller="Book" asp-action="Details" asp-route-id="@Model.BookID">@Model.BookTitle</a></h3>
			<h4>@Model.Author</h4>
			<p>@Model.BookDescription</p>
			@if (@Model.isBorrowed == true)
			{
				<p class="text-danger">THIS TITLE IS CURRENLTY BORROWED</p>
			
				<p class="text-danger">Return date: @Model.ReturnDate.Date</p>
			}
			
		</div>
	</div>
</div>

